@import url('./reset.css');
  
*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.form{
  margin: 50px;
}

.checkbox_input{
  display: none;
}

.checkbox_label{
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  padding-left: 20px;
}

.checkbox_label::before{
  content: "";
  flex:1 1 24px;
  width: 24px;
  height: 24px;
  background-color: rgb(155, 163, 154);
  position: absolute;
  top: -2px;
  left: -24px;
  border-radius: 50%;
}

.checkbox_label::after{
  content: "";
  flex:1 1 10px;
  width: 16px;
  height: 16px;
  background-color: rgb(177, 206, 174);
  position: absolute;
  top: 2px;
  left: -20px;
  border-radius: 50%;
}

